<html>
    <head>
        <link rel="stylesheet" href="../style/style.css">
        <title>Hangman web</title>
    </head>
    
    <body>
        <div class="indexcss">
        <center>
            <a href = page2.html>
                <h1><span>Hangman web</span></h1></a>
            <h3>Ferrandez Benjamin et Martinez Lucas</h3>
        </center>
        <a href = page3.html>
            <center><button class="custom-btn btn-7"><span>Play</span></button>
                <button class="custom-btn btn-7"><span>Jouer</span></button></center>
        </a>
        </div>
    </body>
</html>